<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {{#gameTags}}
    <header>
      <h1>Guessing Game</h1>
    </header>
    <h5>Wins: {{gameWin}}   Loses: {{gameLose}}</h5>
    <h5>You have {{gameLife}} guesses left</h5>
    <hr>
    <h5>Your word is {{spaces}} letters long</h5>
    <br>
    <form action="/guess" method="post">
      <input type="text" name="guess">
      <button type="submit" name="guessButton">Guess Letter</button>
    </form>
    <h5>Correct Letters:</h5>
    {{#guessWord}}
      {{.}}
    {{/guessWord}}
    <br>
    <h5>Already guessed:</h5>
    {{#lettersBucket}}
      {{.}}
    {{/lettersBucket}}

  {{/gameTags}}
</body>

</html>
