<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>TIY Word Game</h1>
    <h2>Created By: Alex</h2>
  </header>
  <hr>
  <form action="/game" method="get">
    <h3>Are you ready?</h3>
    <button type="submit">Start</button>
  </form>

  <footer>
    <h5>Copyright 2017</h5>
  </footer>
</body>

</html>
